body {
  margin: 0;
  background-color: cadetblue3;
  font: Helvetica;
  color: black;
  height: auto;
  padding: auto;
  text-align: center;

}
header h1 {
  height: auto;
  background-attachment: grey;
  font: Helvetica;
  font-size: auto;
  text-align: center;
}
img {
  height: auto;
  margin: 0;
  padding: auto;
  text-align: center;
  width: 3in;
}
